.x-toolbar {
    background-color: #404040 !important;
    background-image: none;
    border-bottom-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}

.ext-el-mask {
    background-color: #000000;
}

sup.newicon {
    background-color: #404040;
    background-image: none;
    background: none !important;
}

a[style*="color:#0000FF"], a[style*="color:#800000"] {
    color: #00FF00 !important;
	filter: invert(100%)  saturate(0%);
    -webkit-filter: invert(100%)  saturate(0%);
}

.x-grid-empty {
    color: #AAFFAA !important;
}

.x-tab-scroller-left, .x-tab-scroller-left-disabled, .x-tab-scroller-right, .x-tab-scroller-right-disabled {
    border-style: none;
    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none; 
    /* background: rgba(0,0,0,.5); */
    background-image: none !important;
}

.x-tab-strip-active .tabTxt {
    color: #FFFFFF !important;
    line-height: normal;
}

.tabTxt {
    color: #BBBBBB !important;
}

.x-tab-right, .x-tab-left, .x-tab-strip-inner, .x-tab-strip, .x-tab-strip-top {
    background-image: none !important;
    background-color: #404040 !important;
    color: #BBBBBB;
    border-style: none !important;
    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.x-tab-panel-header {
    background-color: #404040;
    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-style: none;
    color: #FFFFFF !important;
}


.x-combo-list-item {
    background-color: #404040;
    border-bottom-color: #404040;
    border-top-color: #404040;
    border-left-color: #404040;
    border-right-color: #404040;
}

input[type*="text"] {
    background-image: none;
    background-color: #404040;
    color: #BBBBBB;
}

.xtb-sep {
    background-image: none !important;
    background-color: #666666;
    width: 0px !important;
}

button[type="button"] {
    color: #cccccc;
    background-color: #333333;
}

.x-btn-tl, .x-btn-tc, .x-btn-tr, .x-btn-ml, .x-btn-mc, .x-btn-mr, .x-btn-bl, .x-btn-bc, .x-btn-br {
    background-image: none;
    background-color: #333333;
}

.x-btn-menu-active .x-btn-text {
    color: #cccccc !important;
}


table.x-btn {
    border-color: #666666 !important;
    border-style: solid !important;
    border-width: 1px !important;
    background-color: #333333 !important;
    /* padding-left: 5px !important;
    padding-right: 5px !important; */
    
}



#utp_menu {
    background-image: none;
    background-color: #404040;
    border-bottom-color: #666666;
}

.x-panel-header {
    background-image: none;
    border-style: none;
    color: #FFFFFF;
}

.x-tab-panel-body {
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
    border-top-style: none !important;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #404040;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-color: #666666 !important;
    border-style: solid !important;
    border-width: 1px !important;
}

::-webkit-scrollbar-corner {
    background-color: #404040 !important;
    color: #404040 !important;
}

::-webkit-scrollbar-track {
    background-color: #404040 !important;
    color: #404040 !important;
}

::selection {
    background-color: #FF0000;
    color: #FFFFFF;
}
 

div.botbord pre {
    font-family: monospace !important;
    color: #BBBBBB;
}

.x-layout-split {
    background-color: #404040;
}

.x-panel-body, .x-panel-body-noheader {
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
    border-top-style: none !important;
    border-color: #404040 !important;
    background-color: #404040;
    color: #BBBBBB;
    border-image-width: 0 !important;
}

/* attempt to hide left-panel scrollbar only, not working right 
#casedetailssummary .x-panel-bwrap div.x-panel-body {
    overflow-y: auto;
    width: calc(100% + 5px) !important;
    padding-right: 5px !important;
}

#casedetailssummary .x-panel-bwrap {
    overflow-x: hidden !important;
}
*/

.x-toolbar-ct {
    border-color: #404040 !important;
}

a {
    color: #ffffff;
}

.botbord {
    border-bottom-style: none;
}


#PUBLIC {
    color: #FFFFFF;
    background-color: #393939;
    padding-bottom: 3px;
}


#PRIVATE {
    color: #FF8800;
    background-color: #393939;
    padding-bottom: 3px;
}

div {
    color: #BBBBBB;
}

div[style*="color:#0000FF"] {
    /* color: #AACCFF !important; */
    color: #BBBBBB !important;
}

div[style*="color:#800000"] {
    color: #FFAA44 !important;
}

.privateClps pre {
    color: #FFAA44 !important;
}

#header_tip {
	display: none !important;
}

.troToolsImage, .kxNew {
    background-image: none !important;
    padding-left: 0px !important;
}

.handover, .kx, .HW_Track {
    display: none;
}

.x-grid3 {
    background-color: #404040;
}

.x-grid3-row {
    border-bottom-color: #333333 !important;
    border-top-color: #333333 !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-collapse: collapse !important;
    border-top-width: 0px !important;
}

.x-grid3-row-alt {
    background-color: #404040;
}

span[style^="color:#0067C5"] {
    color: #88AAFF !important;
}

span[style^="color: #58A618"] {
    color: #88FF88 !important;
}

span[style*="color:red"], span[style="color: red;"] {
    color: #FFAA44 !important;
}

.x-grid3-row-over {
    background-color: #333333 !important;
    background-image: none !important;
}

.x-grid3-row-selected {
    background-color: #404040 !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #AAAAAA;
    border-collapse: collapse !important;
}

/*
.x-grid3-row-first {

}
*/

.x-grid3-header {
    background-color: #444444 !important;
    background-image: none !important;
}

div[style*="height: 34px"] {
    display: none !important;
    height: 0px !important;
}

.sort-desc {
    background-color: #444444 !important;
    background-image: none !important;
    color: #FFFFFF;
}

.x-grid3-td-0 {
    background-color: #444444 !important;
    background-image: none !important;
}

.x-grid3-hd {
    border-right-color: #333333 !important;
    border-left-color: #333333 !important;
}

.x-grid3-hd-inner {
    background-image: none !important;
    background-color: #494949 !important;
}

.x-view-over {
    background-color: #333333 !important;
}

.x-window {
    border-color: #666666 !important;
    border-style: solid;
    border-width: 1px;
}

.x-window-tl, .x-window-tr, .x-window-tc, .x-window-ml, .x-window-mc, .x-window-mr, .x-window-bl, .x-window-bc, .x-window-br {
    background-image: none !important;
    background-color: #404040 !important;
    color: #BBBBBB !important;
    border-style: none;
}

.x-menu-list {
    background-image: none !important;
    background-color: #494949;
}

.x-menu-item {
    color: #BBBBBB !important;
}

.x-menu-item-active {
    background-image: none !important;
    background-color: #404040;
}

.x-menu-sep {
    background-color: #333333 !important;
    color: #333333;
    border-bottom-color: #555555;
}

/* causes conflict with x-window styles
.ext-mb-text {
    color: #404040 !important;
}
*/

.x-panel-nofooter, .x-panel-br, .x-panel-bc, .x-panel-mr, .x-panel-mc, .x-panel-ml, .x-panel-body {
    background-image: none !important;
    background-color: #404040 !important;
}

.x-form-field, .x-form-focus, .x-form-element, .x-window-body {
    background-color: #404040 !important;
    background-image: none !important;
}

.x-form-textarea {
    background-color: #333333 !important;
    background-image: none !important;
    border-style: none !important;
}

.x-tree-node span {
    color: #BBBBBB !important;
}

.x-tree-selected span {
    color: #BBBBBB !important;
}

.x-tree-selected {
    background-color: #555555 !important;
}

.x-tree-node-over {
    background-color: #333333 !important; 
    background-image: none;
}



/* causes a conflict
button[type*="button"] {
    color: #404040 !important;
}
*/

textarea {
    color: #BBBBBB !important;
}

textarea[style*="rgb(0, 0, 255)"] {
    color: #DDDDDD !important;
}

textarea[style*="rgb(128, 0, 0)"] {
    color: #FFAA44 !important;
}


#casechronologytemplate div pre {
    color: #BBBBBB;
}



.x-tool, a[onclick^="toggleBtn"] {
    -webkit-filter: invert(100%) grayscale(100%) brightness(200%) contrast(50%);
    filter: invert(100%) grayscale(100%) brightness(200%) contrast(50%);
}

#homepageMyCases {
    top: 0px !important;
}

#searchForm {
    background-color: #404040;
}

#searchForm-xsplit {
    background-color: #404040;
}

.bgwhite {
    background-color: #404040;   
}

.systemSelectorHeaders td {
    background-color: #333333;
    color: #DDDDDD;
}

.systemSelectorItems td {
    background-color: #404040;
    color: #BBBBBB;
}

.tablespace {
    border-color: #404040;
    border-collapse: collapse;
}

.x-layout-collapsed {
    background-color: #404040;
}

#searchBar {
    border-bottom-color: #404040 !important;
	border-bottom-width: 0px !important;
}

/*
#ext-comp-1013 {
    display: none;
    height: 0px;
}
*/

.bggrey {
    background-color: #333333 !important;
}

.bgwhite textarea {
    background-color: #333333 !important;
    border-collapse: collapse !important;
    border-style: none !important;
}

.titleHideImage, .titleShowImage {
    color: #FFFFFF !important;
}

body {
    background-color: #404040 !important;
}

dl.x-list-selected {
    background-color: #555555;
}

dl.x-list-over {
    background-color: #333333;
}



.x-grid3-cell {
    border-collapse: collapse !important;
    border-style: none !important;
    
}

.x-grid3-row {
    border-left-style: none !important;
    border-right-style: none !important;
}

td.x-grid3-cell-last {
    background-image: none !important;
}

.x-grid3-row-table tbody tr {
    border-style: none !important;
}

.x-grid3-row-table {
    border-left-style: none !important;
}

input.x-form-field {
	border-width: 0px;
    background-color: #333333 !important;
}

/*
.x-grid3-row-checker {
    
}
*/

.netapp_yellow_black table tbody tr td {
    background-color: #404040 !important;
}


.netapp_yellow_black.x-grid3-row-over table tbody tr td {
    background-color: #333333 !important;
}

.netapp_yellow_black table tbody tr td a {
    color: #FFFF00 !important;
}



.netapp_orange_black table tbody tr td {
    background-color: #404040 !important;
}


.netapp_orange_black.x-grid3-row-over table tbody tr td {
    background-color: #333333 !important;
}

.netapp_orange_black table tbody tr td a {
    color: #FFAA33 !important;
}



.netapp_red_black table tbody tr td {
    background-color: #404040 !important;
}


.netapp_red_black.x-grid3-row-over table tbody tr td {
    background-color: #333333 !important;
}

.netapp_red_black table tbody tr td a {
    color: #FF4444 !important;
}


img.x-form-arrow-trigger, a.x-grid3-hd-btn, img.x-form-trigger {
    
    filter:invert(100%) !important;
    -webkit-filter:invert(100%) !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.x-fieldset-header-text {
    color: #FFFFFF;
}

.x-fieldset-body {
	background-color: #404040 !important;
}

.x-fieldset {
    border-color: #555555;
}

p[style*="color:#ff0000"] {
    color: #FFAA44 !important;
}

.x-form-invalid-msg {
    color: #FF0000;
}

a[style*="color:#006400"] {
    -webkit-filter: brightness(500%) hue-rotate(0deg);
}

div[id="Customer Input"] {
    color: #00FF00 !important;
}

div[style*="color:#006400;"] pre {
    color: #AAFFAA;
}